
<nav class="navbar navbar-dark bg-dark light footer" width="100%">
    {%- if site.show-style-guide %}
 
    <div class="col-12 col-md-6">
        <h3 class="mt-3">Contact</h3>
        <p>Indsutrieweg 237, Mariakerke</p>

        <h3 class="mt-3">Art Directors</h3>
        <p> Julie Van de Weerd
            <br>
            julievandeweerd@iditory.be
        </p>
        <p> Tess Van Duysen
            <br>
            tessvanduysen@iditory.be
        </p>
    </div>
    <div class="col-12 col-md-6">
        <h3 class="mt-3">Winkelmandje</h3>
        <a href="winkelmandje.html">Winkelmandje bekijken</a>
        <h3 class="mt-3">Sitemap</h3>
        <p><a href="sitemap.html">© Copyright 2017</a> Julie Van de Weerd, Tess Van Duysen</p>
        <h3 class="mt-3">Style guide</h3>
        <a href="{{ site.baseurl }}{% link style-guide/index.md %}">Style Guide</a>
    </div>
    {%- endif %}
</nav>