<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- websitelogo -->
    <a class="navbar-brand" href="#">Navbar</a>
    
    <!-- hamburger icoon -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <!-- hoofdnavigatie -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
          {% assign links = site.data.navigation %}
          {% for link in links %}
              {% assign class = nil %}
              {% if link.url contains page.url %}
                  {% assign class = ' active' %}
              {% endif %}


              {% if link.sublinks %}
                  <li class="nav-item dropdown {{ class }}">
                      <a href="{{ site.baseurl }}{{ link.url }}" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ link.title }} <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                          {% for sublink in link.sublinks %}
                                  <li class="dropdown-item">
                                      <a class="nav-link" href="{{ site.baseurl }}{{ sublink.url }}">{{ sublink.title }}</a>
                                  </li>
                          {% endfor %}
                      </ul>
                  </li>
              {% else %}
                  <li class="nav-item{{ class }}">
                      <a class="nav-link{{ class }}" href="{{ site.baseurl }}{{ link.url }}">{{ link.title }}</a>
                  </li>
              {% endif %}
          {% endfor %}
  

  
  <!--
        <li class="nav-item active">
          <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="team.html">Team</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Series
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="series/drwho.html">dr.Who</a>
            <a class="dropdown-item" href="series/dexter.html">Dexter</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contact.html">Contact</a>
        </li> -->
        
      </ul>
    </div>
  </nav>