/* Deze heb ik gebruikt om de knop van het winkelmandje 
los te zetten. Nu plakte het bij index.html aan de footer 
of bij andere pagina's bovenaan aan de navbar */
.btn {
    margin: 10px;
}

/*voor de achtergrondkleur bij tabellen*/
.bg-tabel {
    background-color: grey;
    padding: 20px;
}

.bg-cel {
    background-color: lightgrey;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}